# Gradle
.gradle/
**/build/

# Android Studio
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Misc
*.iml
local.properties

# OS
.DS_Store
Thumbs.db

